<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Required only when requesting background location access on Android 10 (API level 29). -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".TableLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DatabaseActivity" />
        <activity android:name=".CrossfadeActivity" />
        <activity android:name=".ViewPager2Activity" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".AnimatorActivity" />
        <activity android:name=".DetectGestureActivity" />
        <activity android:name=".DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.example.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ImplicitIntentHandleActivity">

            <!-- This activity handles "SEND" actions with text data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".StartImplicitIntentActivity" />
        <activity android:name=".AnimatorExampleActivity" />
        <activity android:name=".ExampleAppWidgetConfig5">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.ExampleAppWidgetProvider5">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info_5" />
        </receiver>

        <service
            android:name=".widget.ExampleWidgetService5"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".ExampleAppWidgetConfig4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.ExampleAppWidgetProvider4">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info_4" />
        </receiver>

        <service
            android:name=".widget.ExampleWidgetService4"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".ImplicitBroadcastSenderActivity" />
        <activity android:name=".ImplicitBroadcastReceiverActivity" />
        <activity android:name=".RegisterBroadcastActivity" />

        <receiver android:name=".receivers.ExampleBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".services.ExampleIntentService" />

        <activity android:name=".IntentServiceActivity" />

        <receiver android:name=".receivers.AlertReceiver" />

        <activity android:name=".AlarmManagerActivity" />

        <service
            android:name=".services.ExampleJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".JobIntentServiceActivity" />

        <service
            android:name=".services.ExampleJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".JobSchedulerActivity" />
        <activity android:name=".ThreadAndRunnableActivity" />
        <activity android:name=".LooperThreadActivity" />
        <activity android:name=".HandlerThreadActivity" />
        <activity android:name=".AsyncTaskActivity" />
        <activity android:name=".PostDelayedActivity" />

        <receiver android:name=".widget.ExampleAppWidgetProvider3">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info_3" />
        </receiver>

        <activity android:name=".ExampleAppWidgetConfig2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WidgetResizeActivity"
            android:launchMode="singleTop" />

        <receiver android:name=".widget.ExampleAppWidgetProvider2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info_2" />
        </receiver>

        <activity android:name=".ExampleAppWidgetConfig" />
        <activity android:name=".WidgetActivity2" />
        <activity
            android:name=".WidgetActivity"
            android:launchMode="singleTop" />

        <receiver android:name=".widget.ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <activity android:name=".FlowingDrawerActivity" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InsertNewContactActivity" />
        <activity android:name=".GetAllContactActivity" />
        <activity android:name=".RandomizedColorActivity" />
        <activity android:name=".StyleableToastActivity" />
        <activity android:name=".GSONSharedPreferencesActivity" />
        <activity android:name=".AlerterActivity" />
        <activity android:name=".ToastyActivity" />
        <activity android:name=".BundleDataForActivity" />
        <activity android:name=".DetailRecyclerViewWithPicassoActivity" />
        <activity android:name=".RecyclerViewWithPicassoActivity" />
        <activity android:name=".SharedViewModelActivity" />
        <activity android:name=".SortingArrayActivity" />
        <activity android:name=".CountDownTimerActivity" />
        <activity android:name=".ChronometerActivity" />
        <activity android:name=".CalendarAddActivity" />
        <activity android:name=".ChooseColorActivity" />
        <activity android:name=".BroadcastReceiverTimeTickActivity" />
        <activity android:name=".KenBurnsViewActivity" />
        <activity android:name=".VolleyActivity" />
        <activity android:name=".OkHttpActivity" />
        <activity android:name=".SaveTextFileActivity" />
        <activity android:name=".RecyclerViewWithEditTextSearchActivity" />
        <activity android:name=".RecyclerViewWithSearchViewActivity" />
        <activity android:name=".RecyclerViewActivity2" />
        <activity android:name=".SlideAnimationActivity2" />
        <activity android:name=".SlideAnimationActivity" />
        <activity android:name=".IntentAnimationActivity" />
        <activity android:name=".HideKeyboardActivity" />
        <activity android:name=".CircularLoadingBetterActivity" />
        <activity android:name=".CircularProgressBarActivity" />
        <activity android:name=".GSONActivity" />
        <activity
            android:name=".Slidr2Activity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity android:name=".SlidrActivity" />
        <activity android:name=".ViewFlipperActivity" />
        <activity android:name=".ColorSeekBarActivity" />
        <activity android:name=".FragmentWithAnimationActivity" />
        <activity android:name=".CreateFragmentWithDataActivity" />
        <activity android:name=".SendDataBetweenFragmentsActivity" />
        <activity android:name=".CustomSpinnerActivity" />
        <activity android:name=".IncludeActivity" />
        <activity android:name=".FadingRandomizedTextViewActivity" />
        <activity android:name=".SpannableStringColorActivity" />
        <activity android:name=".SpannableStringActivity" />
        <activity android:name=".ClickableSpanActivity" />
        <activity android:name=".ImeActivity" />
        <activity android:name=".TextWatcherActivity" />
        <activity android:name=".SpinnerCustomObjectActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".SeekBarActivity" />
        <activity android:name=".DodgeInsetEdgesActivity" />
        <activity android:name=".BottomSheetActivity" />
        <activity android:name=".PicassoImageSliderActivity" />
        <activity android:name=".ImageSliderActivity" />
        <activity android:name=".MultiAutoCompleteTextViewActivity" />
        <activity android:name=".YoyoActivity" />
        <activity android:name=".CustomButtonActivity" />
        <activity android:name=".CircularRevealActivity" />
        <activity android:name=".AnimationDrawableActivity" />
        <activity android:name=".TextInputLayoutActivity" />
        <activity android:name=".CustomAutoCompleteTextViewActivity" />
        <activity android:name=".AutoCompleteTextViewActivity" />
        <activity android:name=".SharedElementActivity2" />
        <activity android:name=".SharedElementActivity" />
        <activity android:name=".ModalBottomActivity" />
        <activity android:name=".PressBackAndRateMeActivity" />
        <activity android:name=".GradientActivity" />

        <service android:name=".ExampleService" />

        <activity android:name=".ServiceActivity" />
        <activity android:name=".PlayMusicTwoActivity" />
        <activity android:name=".GoogleSignInActivity" />
        <activity android:name=".GetMetaDataActivity" />
        <activity android:name=".StringFormatterActivity" />
        <activity android:name=".ColorStateActivity" />
        <activity android:name=".AnimationActivity" />
        <activity
            android:name=".ConfigurationChangedActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity android:name=".ScanQRActivity" />
        <activity android:name=".NavigationBottomActivity" />
        <activity android:name=".ViewModelActivity" />
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
            The API key for Google Maps-based APIs is defined as a string resource.
            (See the file "res/values/google_maps_api.xml").
            Note that the API key is linked to the encryption key used to sign the APK.
            You need a different API key for each encryption key, including the release key that is used to
            sign the APK for publishing.
            You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".SwipeRefreshLayoutActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".SpringFloatingActionMenuActivity" />
        <activity android:name=".GridViewActivity" />
        <activity android:name=".AppIntroActivity" />
        <activity android:name=".CirclePageIndicatorActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".MenuContextActivity" />
        <activity android:name=".PickTimeAndDateActivity" /> <!-- for PhotoActivity -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PhotoActivity" />
        <activity android:name=".RecordVoicePlayVoiceActivity" />
        <activity android:name=".TextToSpeechActivity" />
        <activity android:name=".ShowModalBottomActivity" />
        <activity android:name=".FingerprintActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".FragmentsActivity" />
        <activity
            android:name=".AppBarActivity"
            android:parentActivityName=".ThirdActivity" />
        <activity android:name=".SnackbarActivity" />
        <activity android:name=".CopyPasteActivity" />
        <activity
            android:name=".PictureInPictureActivity"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".SetBroadcastContextActivity" />

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <activity android:name=".PinnedShortcutActivity">

            <!-- Should be in LAUNCHER / First Activity -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".ThirdActivity" />
        <activity android:name=".ReceiveTextActivity" />
        <activity android:name=".VibrateActivity" />
        <activity android:name=".TryIntentsActivity" />
        <activity android:name=".SecondaryActivity" />
        <activity android:name=".SaveDataToExternalStorageActivity" />
        <activity android:name=".PlayMusicActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".JsonActivity" />
        <activity android:name=".GoToOtherActivity" />
        <activity android:name=".GetStringActivity" />
        <activity android:name=".GetSetPreferencesActivity" />
        <activity android:name=".GetLocationDataActivity" />
        <activity android:name=".firstActivity" />
        <activity android:name=".BubbleActivity" />
    </application>

</manifest>